*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;
}
a {
  color: #333;
  text-decoration: none;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.btn-primary {
  border-color: transparent;
}
h1 {
  font-size: 60px;
  letter-spacing: 2px;
  font-weight: 700;
  color: black;
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-size: 50;
  letter-spacing: 1px;
  font-weight: 450;
  color: #3f3f3f;
}